*{
    text-align: center;

}

h3 {
    font: arial;
    font-size: 32px;
    margin-left: 10%;
    margin-right: 10%;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width:auto;
}
input[type=text] {
    font-size: medium;
    width: 5%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    transition: width 0.4s ease-in-out;
  }
input[type=text]:focus {
    width: 50%;
  }